.info-patient {
    display: flex;
    flex-direction: column;

}

.name,
.iin,
.Rh,
.bloodtype {
    margin: 0px;
}

.all-info {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px;


}

.blood-info {
    display: flex;
    flex-direction: row;
}

.patient-info {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    color:#333
}

.all-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-patient h2,
.blood-info h3 {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    color: #333;
}



.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.pressure-block {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    font-weight: bold;
    color:#333
}

.pressure-value {
    color: hsl(140, 61%, 27%);
    font-size: 30px;
}

.patient-info p {
    margin: 8px 0;
}

.allergy-section {
    border-top: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 20px;
    margin-top:20px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-weight: bold;
    color:#333
}

.allergy-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

.arrow {
    font-size: 20px;
}

.upload-label {
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
    cursor: pointer;
    background: hsl(140, 61%, 27%);
}
.upload-label:hover{
    background: hsl(140, 61%, 18%);
}
.allergy-section {
  margin-bottom: 20px;
  padding-bottom: 10px;
}



.upload-label {
  display: inline-block;
  margin-top: 10px;
  padding: 12px 24px;
  background: hsl(140, 61%, 27%);
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}




.pressure-input {
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #334155;
  margin-bottom: 10px;
  width: 200px;
  background: #ffffff;
}

.pressure-button {
  padding: 10px 20px;
  background:  hsl(140, 61%, 27%);
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgb(0 0 0 / 0.1);
  cursor: pointer;
  margin-bottom: 10px;
}

.pressure-button:hover {
  background: hsl(140, 61%, 27%);
 
}

.pressure-button:active {
  background: hsl(140, 61%, 18%);
 
}

.pressure-block p {
  color: #555;
  font-size: 14px;
  margin-bottom: 0;
}
.space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
