body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body.light {
  background:hsl(218deg 50% 91%);;
  color: #000000;
  --ligh-bg:#ffffff;
  
  --text-col:#000;
}

body.dark {
  background: hsl(220, 19%, 19%);
  --ligh-bg:hsl(217, 28%, 74%);
    color: #000000;
  --text-col-2:#fff;
  --text-col:#000;
}
